body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f8f5f7;
  color: #333;
}

header {
  background-color: #891437;
  color: white;
  padding: 35px;
  text-align: center;
}

main {
  padding: 25px;
  max-width: 900px;
  margin: auto;
}

section {
  background-color: white;
  margin-bottom: 20px;
  padding: 20px;
  border-left: 5px solid #C2185B;
  border-radius: 4px;
}

h1,
h2 {
  margin-top: 0;
}

button {
  background-color: #8A1538;
  color: white;
  border: none;
  padding: 12px 18px;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color: #6f102d;
}

footer {
  text-align: center;
  padding: 15px;
  background-color: #eee;
}

.formulario-candidato input,
.formulario-candidato textarea {
  width: 100%;
  box-sizing: border-box;
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

#mensajeGuardado {
  margin-top: 12px;
  font-weight: bold;
  color: #8A1538;
}

.tarjeta-guardada {
  margin-top: 12px;
  padding: 12px;
  border-left: 5px solid #8A1538;
  background-color: #F9EEF3;
  border-radius: 8px;
}

.barra-resultado {
  width: 100%;
  background-color: #F9EEF3;
  border-radius: 8px;
  overflow: hidden;
  margin-top: 8px;
  margin-bottom: 8px;
}

.barra-porcentaje {
  height: 18px;
  background-color: #8A1538;
  color: white;
  text-align: center;
  font-size: 12px;
  line-height: 18px;
}

main label {
  display: block;
  margin-top: 12px;
  font-weight: bold;
  color: #8A1538;
}

main input,
main textarea,
main select {
  width: 100%;
  box-sizing: border-box;
  margin-top: 6px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

#mensajeAlerta {
  margin-top: 12px;
  font-weight: bold;
  color: #8A1538;
}
